<h4>Hello there!</h4>
<p>Thanks for choosing my plugin!</p>
<p>There's a wiki with useful information on the repository <a href="https://github.com/cp2004/OctoPrint-WS281x_LED_Status/wiki">here</a>, to help you out using this plugin</p>
<p>Hopefully it works well for you, and if you have any questions about using it please get in touch in the OctoPrint forum, tag me <a href="https://community.octoprint.org">@Charlie_Powell</a></p>
<p>Should you encounter a bug or something that doesn't look right, <a href="https://github.com/cp2004/OctoPrint-WS281x_LED_Status/issues">let me know here</a></p>
<p>Got a great feature in mind? I want to hear it! I'm open to feature requests, if you want to contribute have a look over <a href="https://github.com/cp2004/OctoPrint-WS281x_LED_Status">on the repository</a> for details</p>
<p>Charlie</p>
<br>
<p><i>Version 0.3.3</i></p>
<form class="form-horizontal">
    <label class="inline"><input type="checkbox" class="inline" data-bind="checked: settings.plugins.ws281x_led_status.debug_logging">Enable debug logging</label>
</form>
