<h5>Plugin features</h5>
<form class="form-horizontal">
    <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.ws281x_led_status.active_hours_enabled">Enable active times
    </label>
    <div class="form-inline" data-bind="visible: settings.plugins.ws281x_led_status.active_hours_enabled">
        <label class="inline"> Start time </label>
        <input type="time" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.active_hours_start">
        <label class="inline"> End time </label>
        <input type="time" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.active_hours_stop">
    </div>
    <p class="help-block">The LED strip will turn on at the start time, off at the end time. Potentially useful if you don't want them on overnight.</p>
    <p class="help-block">Note this currently doesn't support the start time being later than end time(eg. 19:00 to 13:00), your LEDs will always be off.</p>
    <div class="alert alert-block">
        <h4>Heads up!</h4>
        <p>The plugin uses your system time, so this depends on a correct timezone which may not have been changed from the default.
        <br>
        <strong>Current timezone: {{ plugin_ws281x_led_status_timezone }}</strong>
        <br>
        If you want to change this, please run <code>sudo raspi-config</code> then change your location.
        </p>
    </div>
    <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.ws281x_led_status.intercept_m150">Enable intercepting M150 commands
    </label>
    <p class="help-block">For details on the M150, and how you can use it, <a href="https://github.com/cp2004/OctoPrint-WS281x_LED_Status/wiki/Configuration-options#m150-intercept--new-in-040">see the wiki entry here.</a></p>
    <br>
    <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.ws281x_led_status.at_command_reaction">Enable reacting to @ Commands
    </label>
    <div class="well">
        <p>Availible commands:<br>
        <ul>
            <li><code>@WS_LIGHTSON</code>: Turn the lights on</li>
            <li><code>@WS_LIGHTSOFF</code>: Turn the lights off</li>
        </ul>
        You may want to add one to a gcode script, either in slicer or OctoPrint for example to turn the LEDs on at the start of a print
    </div>
</form>
