<div id="LEDStripEditor" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h3>{{ _('LED Strip editor') }}</h3>
	</div>
	<div class="modal-body">
        <p><a href="https://github.com/cp2004/OctoPrint-WS281x_LED_Status/wiki/LED-Strip-configuration" target="_blank"><i class="fa fa-lg fa-info-circle text-info" aria-hidden="true"></i> More information about these options</a></p>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">{{ _('Strip Type') }}</label>
                <div class="controls">
                    <select class="input-block-level" id="stripType" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.strip.type">
                        {% for type in plugin_ws281x_led_status_strip_types %}
                            <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Use dedicated white') }}</label>
                <div class="controls">
                    <input type="checkbox" class="input-medium" data-bind="checked: settingsViewModel.settings.plugins.ws281x_led_status.strip.white_override">
                </div>
            </div>
            <div class="control-group inline" data-bind="visible: settingsViewModel.settings.plugins.ws281x_led_status.strip.white_override">
                <label class="control-label">{{ _('White brightness') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.strip.white_brightness">
                        <span class="add-on">%</span>
                    </div>
                    <input type="range" min="1" max="100" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.strip.white_brightness">
                </div>
            </div>
            <div class="control-group inline">
                <label class="control-label">{{ _('Max brightness') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.strip.brightness">
                        <span class="add-on">%</span>
                    </div>
                    <input type="range" min="1" max="100" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.strip.brightness">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Number of LEDs') }}</label>
                <div class="controls">
                    <input type="number" id="ws281x_num_leds" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.strip.count">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('GPIO pin') }}</label>
                <div class="controls">
                    <input type="number" min="10" max="10" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.strip.pin">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Frequency') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.strip.freq_hz">
                        <span class="add-on">hz</span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('DMA channel') }}</label>
                <div class="controls">
                    <input type="number" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.strip.dma">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Invert pin output') }}</label>
                <div class="controls">
                    <input type="checkbox" class="input-medium" data-bind="checked: settingsViewModel.settings.plugins.ws281x_led_status.strip.invert">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('PWM channel ') }}</label>
                <div class="controls">
                    <input type="number" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.strip.channel">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Red correction ') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.strip.adjustment.R">
                        <span class="add-on">%</span>
                    </div>
                    <input type="range" min="50" max="150" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.strip.adjustment.R">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Green correction ') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.strip.adjustment.G">
                        <span class="add-on">%</span>
                    </div>
                    <input type="range" min="50" max="150" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.strip.adjustment.G">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Blue correction ') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.strip.adjustment.B">
                        <span class="add-on">%</span>
                    </div>
                    <input type="range" min="50" max="150" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.strip.adjustment.B">
                </div>
            </div>
        </form>
    </div>
	<div class="modal-footer">
		<small>Make sure to click save in the main settings after making changes here.</small> <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
	</div>
</div>
