<h5>Printing Effects</h5>
<form class="form-horizontal">
    <label class="checkbox inline">
    <input type="checkbox" data-bind="checked: settings.plugins.ws281x_led_status.startup_enabled">Enable startup effect
    </label>
    <div class="form-inline" data-bind="visible: settings.plugins.ws281x_led_status.startup_enabled">
    <label class="inline">Effect </label>
        <select class="input-large" data-bind="value: settings.plugins.ws281x_led_status.startup_effect">
            {% for effect in plugin_ws281x_led_status_standard_names %}
                <option value="{{ effect }}">{{ effect }}</option>
            {% endfor %}
        </select>
        <label class="inline"> Colour </label>
        <input type="color" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.startup_color">
        <label class="inline"> Delay </label>
        <div class="input-append">
            <input type="number" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.startup_delay">
            <span class="add-on">ms</span>
        </div>
    </div>
<br>
    <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.ws281x_led_status.idle_enabled">Enable idle effect
    </label>
    <div class="form-inline" data-bind="visible: settings.plugins.ws281x_led_status.idle_enabled">
    <label class="inline">Effect </label>
        <select class="input-large" data-bind="value: settings.plugins.ws281x_led_status.idle_effect">
            {% for effect in plugin_ws281x_led_status_standard_names %}
                <option value="{{ effect }}">{{ effect }}</option>
            {% endfor %}
        </select>
        <label class="inline"> Colour </label>
        <input type="color" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.idle_color">
        <label class="inline"> Delay </label>
        <div class="input-append">
            <input type="number" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.idle_delay">
            <span class="add-on">ms</span>
        </div>
        
    </div>
<br>
    <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.ws281x_led_status.disconnected_enabled">Enable disconnected effect
    </label>
    <div class="form-inline" data-bind="visible: settings.plugins.ws281x_led_status.disconnected_enabled">
    <label class="inline">Effect </label>
        <select class="input-large" data-bind="value: settings.plugins.ws281x_led_status.disconnected_effect">
            {% for effect in plugin_ws281x_led_status_standard_names %}
                <option value="{{ effect }}">{{ effect }}</option>
            {% endfor %}
        </select>
        <label class="inline"> Colour </label>
        <input type="color" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.disconnected_color">
        <label class="inline"> Delay </label>
        <div class="input-append">
            <input type="number" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.disconnected_delay">
            <span class="add-on">ms</span>
        </div>
    </div>
<br>
    <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.ws281x_led_status.success_enabled">Enable print success effect
    </label>
    <div class="form-inline" data-bind="visible: settings.plugins.ws281x_led_status.success_enabled">
    <label class="inline">Effect </label>
        <select class="input-large" data-bind="value: settings.plugins.ws281x_led_status.success_effect">
            {% for effect in plugin_ws281x_led_status_standard_names %}
                <option value="{{ effect }}">{{ effect }}</option>
            {% endfor %}
        </select>
        <label class="inline"> Colour </label>
        <input type="color" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.success_color">
        <label class="inline"> Delay </label>
        <div class="input-append">
            <input type="number" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.success_delay">
            <span class="add-on">ms</span>
        </div>
    </div>
    <div class="form-inline" style="margin-top: 0.5rem;" data-bind="visible: settings.plugins.ws281x_led_status.success_enabled">
        <label class="inline">Return to idle after:</label>
        <div class="input-append">
            <input class="input-medium" type="number" data-bind="value: settings.plugins.ws281x_led_status.success_return_idle">
            <span class="add-on">secs</span>
        </div>
    </div>
<br>
    <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.ws281x_led_status.failed_enabled">Enable failed effect
    </label>
    <div class="form-inline" data-bind="visible: settings.plugins.ws281x_led_status.failed_enabled">
    <label class="inline">Effect </label>
        <select class="input-large" data-bind="value: settings.plugins.ws281x_led_status.failed_effect">
            {% for effect in plugin_ws281x_led_status_standard_names %}
                <option value="{{ effect }}">{{ effect }}</option>
            {% endfor %}
        </select>
        <label class="inline"> Colour </label>
        <input type="color" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.failed_color">
        <label class="inline"> Delay </label>
        <div class="input-append">
            <input type="number" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.failed_delay">
            <span class="add-on">ms</span>
        </div>
    </div>
<br>
    <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.ws281x_led_status.paused_enabled">Enable paused effect
    </label>
    <div class="form-inline" data-bind="visible: settings.plugins.ws281x_led_status.paused_enabled">
    <label class="inline">Effect </label>
        <select class="input-large" data-bind="value: settings.plugins.ws281x_led_status.paused_effect">
            {% for effect in plugin_ws281x_led_status_standard_names %}
                <option value="{{ effect }}">{{ effect }}</option>
            {% endfor %}
        </select>
        <label class="inline"> Colour </label>
        <input type="color" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.paused_color">
        <label class="inline"> Delay </label>
        <div class="input-append">
            <input type="number" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.paused_delay">
            <span class="add-on">ms</span>
        </div>
    </div>
<br>
    <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.ws281x_led_status.printing_enabled">Enable printing effect
    </label>
    <div class="form-inline" data-bind="visible: settings.plugins.ws281x_led_status.printing_enabled">
    <label class="inline">Effect </label>
        <select class="input-large" data-bind="value: settings.plugins.ws281x_led_status.printing_effect">
            {% for effect in plugin_ws281x_led_status_standard_names %}
                <option value="{{ effect }}">{{ effect }}</option>
            {% endfor %}
        </select>
        <label class="inline"> Colour </label>
        <input type="color" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.printing_color">
        <label class="inline"> Delay </label>
        <div class="input-append">
            <input type="number" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.printing_delay">
            <span class="add-on">ms</span>
        </div>
    </div>
    <p class="help-block"><span class="label label-warning">Warning</span> Enabling this effect takes priority over the progress efffect</p>
</form>

