<div class="span4">
    <div>

    <h4>Enabled effects</h4>
    <div data-bind="visible: settings.plugins.ws281x_led_status.idle_enabled()">
        <span class="fa-lg" title="Idle effect enabled">
            <span class="fa fa-check" style="color: limegreen" ></span>
            <span>Idle (connected)</span>
        </span>
    </div>
    <div data-bind="visible: settings.plugins.ws281x_led_status.disconnected_enabled()">
        <span class="fa-lg" title="Disconnected effect enabled">
            <span class="fa fa-check" style="color: limegreen" ></span>
            <span>Disconnected</span>
        </span>
    </div>
    <div data-bind="visible: settings.plugins.ws281x_led_status.success_enabled()">
        <span class="fa-lg" title="success effect enabled">
            <span class="fa fa-check" style="color: limegreen" ></span>
            <span>Successful print</span>
        </span>
    </div>
    <div data-bind="visible: settings.plugins.ws281x_led_status.failed_enabled()">
        <span class="fa-lg" title="failed effect enabled">
            <span class="fa fa-check" style="color: limegreen" ></span>
            <span>Failed print</span>
        </span>
    </div>
    <div data-bind="visible: settings.plugins.ws281x_led_status.paused_enabled()">
        <span class="fa-lg" title="paused effect enabled">
            <span class="fa fa-check" style="color: limegreen" ></span>
            <span>Paused</span>
        </span>
    </div>
    <div data-bind="visible: settings.plugins.ws281x_led_status.printing_enabled()">
        <span class="fa-lg" title="printing effect enabled">
            <span class="fa fa-check" style="color: limegreen" ></span>
            <span>Printing</span>
        </span>
    </div>
    <div data-bind="visible: settings.plugins.ws281x_led_status.progress_print_enabled()">
        <span class="fa-lg" title="progress_print effect enabled">
            <span class="fa fa-check" style="color: limegreen" ></span>
            <span>Print progress</span>
        </span>
    </div>
    <div data-bind="visible: settings.plugins.ws281x_led_status.progress_heatup_enabled()">
        <span class="fa-lg" title="progress_heatup effect enabled">
            <span class="fa fa-check" style="color: limegreen" ></span>
            <span>Heating progress</span>
        </span>
    </div>
    <div data-bind="visible: settings.plugins.ws281x_led_status.progress_cooling_enabled()">
        <span class="fa-lg" title="progress_cooling effect enabled">
            <span class="fa fa-check" style="color: limegreen" ></span>
            <span>Cooling progress</span>
        </span>
    </div>
    </div>
    <br>
    <div>
    <h4>Disabled effects</h4>
        <div data-bind="visible: !settings.plugins.ws281x_led_status.idle_enabled()">
        <span class="fa-lg" title="Idle effect disabled">
            <span class="fa fa-times" style="color: darkred" ></span>
            <span>Idle (connected)</span>
        </span>
    </div>
    <div data-bind="visible: !settings.plugins.ws281x_led_status.disconnected_enabled()">
        <span class="fa-lg" title="Disconnected effect disabled">
            <span class="fa fa-times" style="color: darkred" ></span>
            <span>Disconnected</span>
        </span>
    </div>
    <div data-bind="visible: !settings.plugins.ws281x_led_status.success_enabled()">
        <span class="fa-lg" title="success effect disabled">
            <span class="fa fa-times" style="color: darkred" ></span>
            <span>Successful print</span>
        </span>
    </div>
    <div data-bind="visible: !settings.plugins.ws281x_led_status.failed_enabled()">
        <span class="fa-lg" title="failed effect disabled">
            <span class="fa fa-times" style="color: darkred" ></span>
            <span>Failed print</span>
        </span>
    </div>
    <div data-bind="visible: !settings.plugins.ws281x_led_status.paused_enabled()">
        <span class="fa-lg" title="paused effect disabled">
            <span class="fa fa-times" style="color: darkred" ></span>
            <span>Paused</span>
        </span>
    </div>
    <div data-bind="visible: !settings.plugins.ws281x_led_status.printing_enabled()">
        <span class="fa-lg" title="printing effect disabled">
            <span class="fa fa-times" style="color: darkred" ></span>
            <span>Printing</span>
        </span>
    </div>
    <div data-bind="visible: !settings.plugins.ws281x_led_status.progress_print_enabled()">
        <span class="fa-lg" title="progress_print effect disabled">
            <span class="fa fa-times" style="color: darkred" ></span>
            <span>Print progress</span>
        </span>
    </div>
    <div data-bind="visible: !settings.plugins.ws281x_led_status.progress_heatup_enabled()">
        <span class="fa-lg" title="progress_heatup effect disabled">
            <span class="fa fa-times" style="color: darkred" ></span>
            <span>Heating progress</span>
        </span>
    </div>
    <div data-bind="visible: !settings.plugins.ws281x_led_status.progress_cooling_enabled()">
        <span class="fa-lg" title="progress_cooling effect disabled">
            <span class="fa fa-times" style="color: darkred" ></span>
            <span>Cooling progress</span>
        </span>
    </div>
    </div>
</div>
<div class="span4">
    <h4>Enabled Features</h4>
    <div data-bind="visible: settings.plugins.ws281x_led_status.active_hours_enabled()">
        <span class="fa-lg">
            <span class="fa fa-clock-o" style="color: limegreen"></span>
            <span>Active times: <span data-bind="text: settings.plugins.ws281x_led_status.active_hours_start"></span> - <span data-bind="text: settings.plugins.ws281x_led_status.active_hours_stop"></span></span>
        </span>
    </div>
    <div data-bind="visible: settings.plugins.ws281x_led_status.torch_enabled">
        <span class="fa-lg" title="Torch mode enabled">
            <span class="fa fa-check" style="color: limegreen" ></span>
            <span>Torch button</span>
        </span>
    </div>
    <div data-bind="visible: settings.plugins.ws281x_led_status.intercept_m150">
        <span class="fa-lg" title="M150 intercept enabled">
            <span class="fa fa-check" style="color: limegreen" ></span>
            <span>M150 Intercept</span>
        </span>
    </div>
    <div data-bind="visible: settings.plugins.ws281x_led_status.at_command_reaction">
        <span class="fa-lg" title="At command intercept enabled">
            <span class="fa fa-check" style="color: limegreen" ></span>
            <span>@ Command Reaction</span>
        </span>
    </div>
    <div data-bind="visible: settings.plugins.ws281x_led_status.debug_logging">
        <span class="fa-lg" title="Debug logging enabled">
            <span class="fa fa-check" style="color: limegreen" ></span>
            <span>Debug logging</span>
        </span>
    </div>
    <br>
    <h4>Disabled Features</h4>
    <div data-bind="visible: !settings.plugins.ws281x_led_status.active_hours_enabled()">
    <span class="fa-lg">
        <span class="fa fa-clock-o" style="color: darkred"></span>
        <span>Active times</span>
    </span>
    </div>
    <div data-bind="visible: !settings.plugins.ws281x_led_status.torch_enabled()">
        <span class="fa-lg" title="Torch mode disabled">
            <span class="fa fa-times" style="color: darkred" ></span>
            <span>Torch button</span>
        </span>
    </div>
    <div data-bind="visible: !settings.plugins.ws281x_led_status.intercept_m150()">
        <span class="fa-lg" title="M150 intercept disabled">
            <span class="fa fa-times" style="color: darkred" ></span>
            <span>M150 Intercept</span>
        </span>
    </div>
    <div data-bind="visible: !settings.plugins.ws281x_led_status.at_command_reaction()">
        <span class="fa-lg" title="At command intercept disabled">
            <span class="fa fa-times" style="color: darkred" ></span>
            <span>@ Command Reaction</span>
        </span>
    </div>
    <div data-bind="visible: !settings.plugins.ws281x_led_status.debug_logging()">
        <span class="fa-lg" title="Debug logging disabled">
            <span class="fa fa-times" style="color: darkred" ></span>
            <span>Debug logging</span>
        </span>
    </div>
</div>
