<h5>Thanks for choosing my plugin!</h5>
<p>If you enjoy using the plugin, please contribute to it's development by sponsoring me! A great way to say thanks, and encourage more great features. Sponsor for as little as $1
<a class="btn btn-success" href="https://github.com/sponsors/cp2004/" target="_blank"><i class="fa fa-heart" aria-hidden="true"></i> Support my work</a>
</p>
<p>
    <strong>Feedback wanted!</strong><br>
    If you have a spare minute, please fill in the <a href="https://forms.gle/pdEmtq4a44mapesW6" target="_blank">Google form here <i class="fa fa-external-link-alt"></i>,</a> it won't take more than a minute or two and will help me massively. Thanks!
</p>
<hr>
<p>There's a wiki with useful information on the repository <a href="https://github.com/cp2004/OctoPrint-WS281x_LED_Status/wiki">here</a>, to help you out using this plugin</p>
<p>Hopefully it works well for you, and if you have any questions about using it please get in touch in the OctoPrint forum, tag me <a href="https://community.octoprint.org">@Charlie_Powell</a></p>
<p>Should you encounter a bug or something that doesn't look right, <a href="https://github.com/cp2004/OctoPrint-WS281x_LED_Status/issues">let me know here</a></p>
<p>Got a great feature in mind? I want to hear it! If you want to contribute have a look over <a href="https://github.com/cp2004/OctoPrint-WS281x_LED_Status">on the repository</a> for details</p>
<p>Charlie</p>
<br>
<p><strong><i><i class="fas fa-tag text-success"></i> Version 0.5.0</i></strong> - <a href="https://github.com/cp2004/OctoPrint-WS281x_LED_Status/issues/18">Feedback ticket here</a></p>
<br>
<button class="btn btn-primary" data-toggle="modal" data-target="#ContributorModal">View contributors</button>
<div id="ContributorModal" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h3>Contributors!</h3>
	</div>
	<div class="modal-body">
        <p>These wonderful people have helped out in development of this plugin. Whether it's fixing bugs, improvements to the code, or new features, all are useful!</p>
        <p>Want to see your name here? Get involved over on the repo. Any help is always appreciated!</p>
        <ul>
        <li><a href="https://github.com/11chrisadams11">@11chrisadams11</a></li>
        </ul>
    </div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
	</div>
</div>
