<h5>Progress effects</h5>
<form class="form-horizontal">
    <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.ws281x_led_status.progress_print_enabled">Enable printing progress effect
    </label>
    <div class="form-inline" data-bind="visible: settings.plugins.ws281x_led_status.progress_print_enabled">
        <label class="inline"> Progress bar color </label>
        <input type="color" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.progress_print_color">
        <label class="inline"> Base color </label>
        <input type="color" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.progress_print_color_base">
    </div>
    <br>
    <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.ws281x_led_status.progress_heatup_enabled">Enable heating progress effect
    </label>
    <br>
    <div class="form-inline" data-bind="visible: settings.plugins.ws281x_led_status.progress_heatup_enabled">
        <input type="checkbox" data-bind="checked: settings.plugins.ws281x_led_status.progress_heatup_bed_enabled">
        <label class="inline" style="padding-right: 10px"> Track bed heating </label>
        <input type="checkbox" data-bind="checked: settings.plugins.ws281x_led_status.progress_heatup_tool_enabled">
        <label class="inline" style="padding-right: 10px"> Track tool heating </label>
        <label class="inline" data-bind="visible: settings.plugins.ws281x_led_status.progress_heatup_tool_enabled"> Index of Tool to track: </label>
        <div class="input-prepend">
            <span class="add-on">T</span>
            <input type="number" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.progress_heatup_tool_key, visible: settings.plugins.ws281x_led_status.progress_heatup_tool_enabled">
        </div>
    </div>
    <div class="form-inline" data-bind="visible: settings.plugins.ws281x_led_status.progress_heatup_enabled">
        <label class="inline"> Progress bar color </label>
        <input type="color" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.progress_heatup_color">
        <label class="inline"> Base color </label>
        <input type="color" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.progress_heatup_color_base">
    </div>
    <br>
    <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.ws281x_led_status.progress_cooling_enabled">Enable cooling progress effect
    </label>
    <br>
    <div class="form-inline" data-bind="visible: settings.plugins.ws281x_led_status.progress_cooling_enabled">
        <label class="inline" for>Track cooling on bed or tool:</label>
        <select class="input-large" data-bind="value: settings.plugins.ws281x_led_status.bed_or_tool">
            <option value="tool">Track Tool</option>
            <option value="bed">Track Bed</option>
        </select>
    </div>
    <div class="form-inline" data-bind="visible: settings.plugins.ws281x_led_status.progress_cooling_enabled">
        <label class="inline"> Progress bar color </label>
        <input type="color" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.progress_cooling_color">
        <label class="inline"> Base color </label>
        <input type="color" class="input-small" data-bind="value: settings.plugins.ws281x_led_status.progress_cooling_color_base">
    </div>
    <br>
    <div class="form-inline" data-bind="visible: settings.plugins.ws281x_led_status.progress_cooling_enabled">
        <label class="inline" for="ws_temp_threshold">Temperature threshold</label>
        <input id="ws_temp_threshold" class="input-medium" type="number" data-bind="value: settings.plugins.ws281x_led_status.progress_cooling_threshold">
        <p class="help-block">When the temperature drops below this value, cooling tracking will stop.</p>
    </div>
    <br>
    <div class="form-inline">
        <label class="inline" for="ws_temp_start">Set base temperature</label>
        <input id="ws_temp_start" class="input-medium" type="number" data-bind="value: settings.plugins.ws281x_led_status.progress_temp_start">
        <p class="help-block">Heating/cooling progress bar will make '0' the temperature specified. Suggested value is just below room temperature</p>
    </div>
</form>
