<a class="pull-right" style="float: left; font-size:20px" href="javascript:void(0)" data-bind="click: function() { toggle_lights() }"><i id="lightIcon" class="fas-custom fa-custom-lightbulb"></i><i style="margin-left: 4px" id="toggleSwitch" class="fa fa-toggle-on"></i></a>
<a class="pull-right" style="float: left; font-size:20px" href="javascript:void(0)" data-bind="click: function() { activate_torch() }, visible: torch_enabled()"><img id="torchIcon" src="/plugin/ws281x_led_status/static/svg/flashlight-outline.svg" alt="flashlight-icon" height="20" width="20" /></a>
