{% import "macros/docs.jinja2" as docs %}
<h3>WS281x LED Status Setup</h3>
<p>Thank you for installing WS281x LED Status!</p>
<p>This plugin requires some one-time setup before it will work properly.</p>
<p>
    Please make sure you follow along with the full {{ docs.doc_link("guides/setup-guide-1", "setup guide") }}
    for each of the sections below, as they detail everything you need to do, explaining everything in detail.
</p>
<hr>
<h3>
    {{ docs.doc_link("/guides/setup-guide-1/wiring-your-leds", "1. Wiring your LEDs") }}
</h3>
<p>The most important part! Make sure you have them wired up correctly. </p>
<p>
    <i class="fa fa-arrow-right text-success"></i>
    See {{ docs.doc_link("/guides/setup-guide-1/wiring-your-leds", "Wiring your LEDs") }} in the docs.
</p>
<h3>
    {{ docs.doc_link("/guides/setup-guide-1/spi-setup", "2. SPI Setup") }}
</h3>
<p>
    The OS configuration test will help you to configure your Raspberry Pi for use with this plugin.
</p>
{% if plugin_ws281x_led_status_is_docker %}
<div class="alert alert-block">
    <strong>It looks like you are running this plugin inside the OctoPrint docker container</strong>
    <p>This isn't an issue, you just have to make sure your container is configured correctly</p>
    <p>Be sure to read the {{ docs.doc_link("guides/setup-in-docker", "additional section in the docs") }} relating to docker.</p>
</div>
{% endif %}
<p>
    <button class="btn btn-primary" data-toggle="modal" data-target="#WS_OSTestModal">
        <i class="fa fa-cogs"></i> Open OS Configuration test
    </button>
</p>
<h3>
    {{ docs.doc_link("/guides/setup-guide-1/initial-configuration", "3. Initial Configuration") }}
</h3>
<form class="form-horizontal">
    <div class="control-group">
        <label for="wizard_stripType" class="control-label">{{ _('Strip Type') }}</label>
        <div class="controls">
            <select class="input-block-level" id="wizard_stripType" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.strip.type">
                {% for type in plugin_ws281x_led_status_strip_types %}
                    <option value="{{ type }}">{{ type }}</option>
                {% endfor %}
            </select>
        </div>
        <p class="help-block">
            Don't worry if this is not right now, it can be easily changed later.
        </p>
    </div>
    <div class="control-group">
        <label for="wizard_num_leds" class="control-label">{{ _('Number of LEDs') }}</label>
        <div class="controls">
            <input type="number" id="wizard_num_leds" class="input-medium" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.strip.count">
        </div>
    </div>
</form>
<h3>
    4. Reboot your Pi
</h3>
<p>
    Once you have made any necessary OS configuration changes, a reboot of the Pi is required. End the wizard, then hit reboot!
</p>
