<div id="generic_plugin_ws281x_led_status">
    <!-- WS281x LED Status Config Test Modal -->
    <div id="WS_OSTestModal" class="modal hide fade" style="min-height: 500px;">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
            <h3>{{ _("OS Configuration Test") }}</h3>
        </div>
        <div class="modal-body">
            {% include "sub/config_test.jinja2" %}
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
        </div>
    </div>
</div>
