<a href="javascript:void(0)" data-bind="click: function() { toggle_lights() }" style="font-size: 20px"><i id="lightIcon" class="fas-custom fa-custom-lightbulb"></i>  <i id="toggleSwitch" class="fa fa-toggle-on"></i></a>
