<a href="javascript:void(0)" data-bind="click: function() { toggle_lights() }" style="font-size: 20px"><i id="lightIcon" class="fas-custom fa-custom-lightbulb"></i>  <i id="toggleSwitch" class="fa fa-toggle-on"></i></a>
<a href="javascript:void(0)" data-bind="click: function() { activate_torch() }" style="font-size: 20px"><img id="torchIcon" src="/plugin/ws281x_led_status/static/svg/flashlight.svg" height="20" width="20"></a>
