<h5>About the plugin</h5>

<p><strong><i><i class="fas fa-tag text-success"></i> Version {{ plugin_ws281x_led_status_version }}</i></strong> - <a href="https://github.com/cp2004/OctoPrint-WS281x_LED_Status/releases" target="_blank">Release notes</a></p>

<p>Some useful links for you:</p>
<ul>
    <li>The plugin documentation in the <a href="https://github.com/cp2004/OctoPrint-WS281x_LED_Status/wiki" target="_blank">Github Wiki <i class="fa fa-external-link-alt"></i></a> </li>
    <li>Found a bug? Report it! <a href="https://github.com/cp2004/OctoPrint-WS281x_LED_Status/issues" target="_blank">Issue tracker <i class="fa fa-external-link-alt"></i></a></li>
    <li>Need support:
        <ul>
            <li>Open an issue as a <a href="https://github.com/cp2004/OctoPrint-WS281x_LED_Status/issues/new?assignees=&labels=type%3A+question&template=question.md&title=" target="_blank"> question on the repository <i class="fa fa-external-link-alt"></i></a></li>
            <li>Get in contact on the <a href="https://discord.octoprint.org" target="_blank">OctoPrint Discord server <i class="fa fa-external-link-alt"></i></a> </li>
            <li>Get in contact on the <a href="https://community.octoprint.org" target="_blank">community forums <i class="fa fa-external-link-alt"></i></a></li>
        </ul>
    </li>
</ul>

<h5>Enjoying the plugin? Support it's development!</h5>
<p>A great way to say thanks, and encourage more great features. Sponsor for as little as $1:</p><br>
<a class="btn btn-success" href="https://github.com/sponsors/cp2004/" target="_blank"><i class="fa fa-heart" aria-hidden="true"></i> Sponsor my projects</a>

<button class="btn btn-success" data-toggle="modal" data-target="#SponsorsModal">View sponsors</button>
<div id="SponsorsModal" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h3>Sponsors!</h3>
	</div>
	<div class="modal-body">
        <p>These wonderful people have sponsored development of this plugin. As a thank you, their names are here in the plugin.</p>
        <p>Want to see your name here? <a class="text-success" href="https://github.com/sponsors/cp2004" target="_blank">You can sponsor too!</a></p>
        <ul>
        <li><a href="https://github.com/ssl-3">@ssl-3</a></li>
        </ul>
    </div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
	</div>
</div>
<button class="btn btn-primary" data-toggle="modal" data-target="#ContributorModal">View contributors</button>
<div id="ContributorModal" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h3>Contributors!</h3>
	</div>
	<div class="modal-body">
        <p>These wonderful people have helped out in development of this plugin. Whether it's fixing bugs, improvements to the code, or new features, all are useful!</p>
        <p>Want to see your name here? Get involved over on the repo. Any help is always appreciated!</p>
        <ul>
        <li><a href="https://github.com/11chrisadams11">@11chrisadams11</a></li>
        </ul>
    </div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
	</div>
</div>
