{% import "macros/binding.jinja2" as binding %}
{% import "macros/docs.jinja2" as docs %}

{% macro effect_checkbox(effect, name) %}
<label class="checkbox inline">
    <input type="checkbox" data-bind="checked: {{ binding.effect_binding(effect + ".enabled") }}">
    Enable {{ name }} effect
</label>
{% endmacro %}

{% macro effect_select(effect) %}
<label for="ws_{{ effect }}_effect" class="inline">Effect </label>
<select id="ws_{{ effect }}_effect" class="input-large" data-bind="value: {{ binding.effect_binding(effect + ".effect") }}">
    {% for effect in plugin_ws281x_led_status_standard_names %}
    <option value="{{ effect }}">{{ effect }}</option>
    {% endfor %}
</select>
{% endmacro %}

{% macro effect_color(effect) %}
<label for="ws_{{ effect }}_color" class="inline"> Colour </label>
<input id="ws_{{ effect }}_color" type="color" class="input-small" data-bind="value: {{ binding.effect_binding(effect + ".color") }}">
{% endmacro %}

{% macro effect_delay(effect) %}
<label class="inline" for="ws_{{ effect }}_delay"> Delay </label>
<div class="input-append">
    <input id="ws_{{ effect }}_delay" type="number" step="0.1" class="input-small" data-bind="value: {{ binding.effect_binding(effect + ".delay") }}">
    <span class="add-on">ms</span>
</div>
{% endmacro %}

{% macro effect(id, name) %}
{{ effect_checkbox(id, name) }}
<div class="form-inline" data-bind="visible: {{ binding.effect_binding(id + ".enabled") }}">
    {{ effect_select(id) }}
    {{ effect_color(id) }}
    {{ effect_delay(id) }}
</div>
{% endmacro %}

<h5>Printing Effects {{ docs.help_icon("configuration/printing-effects") }}</h5>
<form class="form-horizontal">
    {{ effect("startup", "Startup") }}
    <hr>
    {{ effect("idle", "Idle") }}
    <div class="form-inline" style="margin-top: 0.5rem;" data-bind="visible: {{ binding.effect_binding("idle.enabled") }}">
        <label for="ws_idle_timeout" class="inline">Idle turns off after</label>
        <div class="input-append">
            <input id="ws_idle_timeout" class="input-medium" type="number" data-bind="value: {{ binding.effect_binding("idle.timeout") }}">
            <span class="add-on">secs</span>
        </div>
        <p class="help-block">Set this to 0 to disable idle timeout.</p>
    </div>
    <hr>
    {{ effect("disconnected", "Disonnected") }}
    <hr>
    {{ effect("success", "Success") }}
    <div class="form-inline" style="margin-top: 0.5rem;" data-bind="visible: settingsViewModel.settings.plugins.ws281x_led_status.effects.success.enabled">
        <label for="ws_success_return" class="inline">Return to idle after:</label>
        <div class="input-append">
            <input id="ws_success_return" class="input-medium" type="number" data-bind="value: settingsViewModel.settings.plugins.ws281x_led_status.effects.success.return_to_idle">
            <span class="add-on">secs</span>
        </div>
        <p class="help-block">Set this to 0 and the idle effect will not resume - it will remain 'finished'</p>
    </div>
    <hr>
    {{ effect("failed", "Failed") }}
    <hr>
    {{ effect("paused", "Paused") }}
    <hr>
    {{ effect("printing", "Printing") }}
    <p class="help-block"><span class="label label-warning">Warning</span> Enabling this effect takes priority over the progress effect</p>
</form>
