<h5>Utilities<a href="https://github.com/cp2004/OctoPrint-WS281x_LED_Status/wiki/Utilities" target="_blank"><i class="fa fa-lg fa-info-circle text-info" aria-hidden="true"></i></a></h5>

<h5>LED Strip test</h5>
<p>Provided so you can test the individual colours of your LED Strip.</p>
<p>Can help to diagnose both hardware problems (Such as specific LEDs are broken), and help to select the correct strip type.</p>
<p>Sets LEDs to solid colour until the next event happens.</p>
<button class="btn btn-danger" id="led-test-red" data-bind="click: function(){ sendTestCommand(255, 0, 0) }"><i class="far-custom fa-custom-lightbulb"></i> Test red</button>
<button class="btn btn-success" id="led-test-green" data-bind="click: function(){ sendTestCommand(0, 255, 0) }"><i class="far-custom fa-custom-lightbulb"></i> Test green</button>
<button class="btn btn-primary" id="led-test-blue" data-bind="click: function(){ sendTestCommand(0, 0, 255)}"><i class="far-custom fa-custom-lightbulb"></i> Test blue</button>
<button class="btn" id="led-test-white" data-bind="click: function(){ sendTestCommand(255, 255, 255) }"><i class="far-custom fa-custom-lightbulb"></i> Test white</button>
<br>
<hr>
<h5>OS Config Test</h5>
<p>Checks that the OS level configuration for SPI is correct, as per the initial setup wizard.</p>
<p>Please use this if you are running into issues getting your hardware to work properly with this plugin.</p>
<p>You may be asked for the results of this test when submitting bug reports.</p>
<button class="btn btn-success" id="open-os-config" data-toggle="modal" data-target="#WS_OSTestModal"><i class="fa fa-cogs" aria-hidden="true"></i> Open OS Config Test</button>

<hr>
<h5>Power calculator</h5>
<p>This tab is a useful tool to help you calculate power requirements of your LED strip.</p>
<p>Please ensure your power supply is adequate, as it can cause hard-to-debug issues.</p>
<p>You can see more details on this from Adafruit <a href="https://learn.adafruit.com/adafruit-neopixel-uberguide?view=all#estimating-power-requirements-2894486-11">Here</a><br>
The nominal value is 40mA for 5V LEDs, as this is between their estimate of 20-60. Note that setting LEDs to solid white reqiuires the most power.</p>
<div id="ws281x_currentCalc">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label">Power consumption per LED (mA)</label>
            <div class="controls">
                <div class="input-append">
                    <input class="inline input-medium" data-bind="value: current_input" type="number">
                    <span class="add-on">mA</span>
                </div>
                <button class="inline btn btn-success" data-bind="click: calculate_power"><i class="fas-custom fa-custom-calculator"></i> Calculate</button>
            </div>
        </div>
    </form>
    <div id="calc_output" class="well">
        <p>Number of LEDs configured: <code data-bind="text: settingsViewModel.settings.plugins.ws281x_led_status.strip.count"></code>
        <p>Predicted power requirement (@5V): <code data-bind="text: power_req"></code></p>
        <p>Predicted power requirement (@12V): <code data-bind="text: power_req_12v"></code></p>
        <p>Predicted current requirement: <code data-bind="text: current_req"></code></p>
    </div>
</div>
