<h3>RGB LED Status</h3>
<!-- TODO finish settings page! -->
<form class="form-horizontal">
    <button class="btn  btn-primary" data-toggle="modal" data-target="#LEDStripEditor">Edit LED Strip settings</button>
    <div class="tabbable">
        <ul class="nav nav-pills">
            <li class="active"><a href="#tabOverview" data-toggle="tab">Overview</a></li>
            <li><a href="#tabPrinting" data-toggle="tab">Printing effects</a></li>
            <li><a href="#tabProgress" data-toggle="tab">Progress effects</a></li>
            <li><a href="#tabAbout" data-toggle="tab">About</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tabOverview">
                {% include 'settings_overview_tab.jinja2' %}
            </div>
            <div class="tab-pane" id="tabPrinting">
                {%  include 'settings_printing_effects_tab.jinja2' %}
            </div>
            <div class="tab-pane" id="tabProgress">
                {%  include 'settings_progress_effects_tab.jinja2' %}
            </div>
            <div class="tab-pane" id="tabAbout">
                {%  include 'settings_about_tab.jinja2' %}
            </div>
        </div>
    </div>
</form>
{% include 'settings_strip_modal.jinja2' %}

