<div id="LEDStripEditor" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h3>{{ _('LED Strip editor') }}</h3>
	</div>  <!-- TODO Cleanup the fields with different lengths -->
	<div class="modal-body">
        <span href="https://github.com/cp2004/OctoPrint-RGB_LED_Status">More information about these options *Point link to docs*</span> <!-- TODO Write docs about the settings -->
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">{{ _('Strip Type') }}</label>
                <div class="controls">
                    <select class="input-block-level" id="stripType" data-bind="value: settings.plugins.rgb_led_status.strip_type">
                        {% for type in plugin_rgb_led_status_strip_types %}
                            <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="control-group inline">
                <label class="control-label">{{ _('Max brightness') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" class="input-medium" data-bind="value: settings.plugins.rgb_led_status.led_brightness">
                        <span class="add-on">%</span>
                    </div>
                    <input type="range" min="1" max="100" class="input-medium" data-bind="value: settings.plugins.rgb_led_status.led_brightness">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Number of LEDs') }}</label>
                <div class="controls">
                    <input type="number" class="input-medium" data-bind="value: settings.plugins.rgb_led_status.led_count">
                </div>

            </div>
            <div class="control-group">
                <label class="control-label">{{ _('GPIO pin') }}</label>
                <div class="controls">
                    <input type="number" class="input-medium" data-bind="value: settings.plugins.rgb_led_status.led_pin">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Frequency') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" class="input-medium" data-bind="value: settings.plugins.rgb_led_status.led_freq_hz">
                        <span class="add-on">hz</span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('DMA channel') }}</label>
                <div class="controls">
                    <input type="number" class="input-medium" data-bind="value: settings.plugins.rgb_led_status.led_dma">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Invert pin output') }}</label>
                <div class="controls">
                    <input type="checkbox" class="input-medium" data-bind="checked: settings.plugins.rgb_led_status.led_invert">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('PWM channel ') }}</label>
                <div class="controls">
                    <input type="number" class="input-medium" data-bind="value: settings.plugins.rgb_led_status.led_channel">
                </div>
            </div>
        </form>
    </div>
	<div class="modal-footer">
		<small>Make sure to click save in the main settings after making changes here.</small> <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
	</div>
</div>
