<div id="WS_OS_CONFIG_TEST">
    <p>
        This runs a test of all the OS configuration required for this plugin to work.
    </p>
    <button class="btn btn-primary" id="ws_os_config_run" data-bind="click: runConfigTest, enable: !testInProgress()">
        <i data-bind="css: { 'fas-custom fa-custom-running': !testInProgress(), 'fa fa-spin fa-spinner': testInProgress() }"></i>
        Run Tests
    </button>
    <hr>
    <div class="alert alert-info" data-bind="visible: testInProgress">
        <strong><i class="fa fa-spinner fa-spin"></i> Test in progress</strong>
        <br>Running test: <span data-bind="text: currentTest"></span>
    </div>

    <div class="alert alert-success" data-bind="visible: successfulTests().length">
        <strong><span data-bind="text: successfulTests().length"></span> Successful Tests:</strong>
    </div>
    <!-- Show successful tests here -->
    <ul id="WS_successfulTests" class="fa-ul" data-bind="foreach: successfulTests">
        <li>
            <span class="fa-li"><i class="fa fa-check text-success"></i></span>
            <p>
                <strong data-bind="text: name"></strong>
            </p>
            <!-- ko if: reason.length -->
            <p data-bind=" text: reason"></p>
            <!-- /ko -->
        </li>
    </ul>
    <div class="alert alert-error" data-bind="visible: failedTests().length">
        <strong><span data-bind="text: failedTests().length"></span> Failed Tests:</strong>
    </div>
    <!-- Show password input here -->
    <div data-bind="visible: !testInProgress() && failedTests().length">
        <p>To run the OS commands, we need the password for Pi, since they require root access.</p>
        <form class="form-inline">
            <label class="inline" for="cfgTestPasswordField"><strong>Password for Pi</strong></label>
            <input style="margin-left: 10px"
                   type="password"
                   class="form-control inline"
                   data-bind="textInput: passwordForPi, click: passwdPopoverRemove"
                   id="cfgTestPasswordField"
                   data-toggle="popover"
                   data-content="Since these commands require root access to run, they need the password for Pi. Please enter and try again."
                   data-original-title="Password Required"
                   data-placement="bottom"
                   data-trigger="manual"
            >
            <p class="help-block">If you haven't changed it, this would be <code>raspberry</code></p>
        </form>
    </div>
    <!-- Show failed tests here -->
    <ul id="WS_failedTests" class="fa-ul" data-bind="foreach: failedTests">
        <li>
            <span class="fa-li"><i class="fa fa-times text-error"></i></span>
            <p>
                <strong data-bind="text: name"></strong>
            </p>
            <!-- ko if: reason.length -->
            <p>
                <i class="fa fa-exclamation-triangle text-error"></i>
                <span data-bind="text: reason"></span>
            </p>
            <p>
                <!-- ko ifnot: reason.includes("manually") || reason.includes("Error") -->
                <!-- Don't include button if fix must be applied manually or error -->
                <button class="btn btn-primary" data-bind="enable: !fixed(), click: function(){ $root.runFixCommand(fix_command, fixed) }">
                    <!-- ko ifnot: fixed -->
                    <i class="fa fa-arrow-right"></i> Fix this now
                    <!-- /ko -->
                    <!-- ko if: fixed -->
                    <i class="fa fa-check"></i> Fixed
                    <!-- /ko -->
                </button>
                <!-- /ko -->
            </p>
            <!-- /ko -->
        </li>
    </ul>
</div>
